.create-page {
  color: #555353;
}
.create-page section {
  width: 90%;
  margin: 10px auto;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #f8f8f8;
}

.create-page input, textarea, select {
  width: 90%;
  margin: 4px;
  font-size: medium;
  border: 1px solid #818080;
  border-radius: 4px;
  padding: 8px 16px;
  outline-color: #42b983;
}

select {
  text-align: center;
}

.create-page div {
  padding: 8px 0;
}

.create-page button {
  width: 90%;
  padding: 8px;
  background-color: #42b983;
  color: #ffffff;
  font-weight: bolder;
  font-size: medium;
  border: none;
  border-radius: 4px;
}

.create-page button:disabled {
  background-color: #8efacb;
  cursor: not-allowed;
}